PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=Cm1iUc4ZJlnZNFTEjQxrosnYk8u3RFw5
DB_CONNECTION=sqlite
LOG_LEVEL=info
# Mail (Mailtrap)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525

SMTP_USERNAME=9255e8fa68d88b
SMTP_PASSWORD=f91b8f5ea4af8f

